<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>

<body>
    <!-- Navbar Start -->
    <%- include ('layouts/navbar.ejs') %>
        <!-- Navbar End -->

        <!--  Content Start -->
        <h3 class ="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">Tidak Dapat Mengakses Page</h3>
        <!--  Content End -->
</body>

</html>