<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah User</title>
</head>

<body>
    <!-- Navbar Start -->
    <%- include ('../layouts/navbar.ejs') %>
        <!-- Navbar End -->

        <!--  Content Start  -->
        <div class="card m-5">
            <div class="card-header">
                <h3>Tambah User</h3>
            </div>
            <div class="card-body">
                <form action="/addUser" method="post" onsubmit="return validateForm()">
                    <div class="row mb-3">
                        <label for="id" class="col-sm-2 col-form-label"><b>ID</b></label>
                        <div class="col-sm-10">
                            <input type="text" name="id" class="form-control" placeholder="2272039">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="nama" class="col-sm-2 col-form-label"><b>Nama</b></label>
                        <div class="col-sm-10">
                            <input type="text" name="nama" class="form-control" placeholder="Nathan Raphael">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="email" class="col-sm-2 col-form-label"><b>Email</b></label>
                        <div class="col-sm-10">
                            <input type="email" name="email" class="form-control" placeholder="example@example.com"
                                required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="col-sm-2 col-form-label"><b>Password</b></label>
                        <div class="col-sm-10">
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="confirmPassword" class="col-sm-2 col-form-label"><b>Re-Password</b></label>
                        <div class="col-sm-10">
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="row form-group mt-2">
                        <label for="role" class="col-sm-2 col-form-label fw-bold">Role</label>
                        <div class="col">
                            <select class="form-control" name="role" required>
                                <option value="admin">Admin</option>
                                <option value="citizen">Citizen</option>
                            </select>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Tambahkan">
                </form>
            </div>
        </div>
        <!--  Content End  -->

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function validateForm() {
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirmPassword").value;

                if (password !== confirmPassword) {
                    Swal.fire({
                        title: "Password",
                        text: "Password Tidak Cocok!!!",
                        icon: "error"
                    });
                    return false;
                }
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Your work has been saved",
                    showConfirmButton: false
                });
                return true;
            }
        </script>
</body>

</html>