<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kartu Keluarga</title>
</head>

<body>
    <!-- Navbar Start -->
    <%- include ('../layouts/navbar.ejs') %>
        <!-- Navbar End -->

        <!--  Content Start -->
        <div class="card m-5">
            <div class="card-header">
                <a href="/createPenduduk" role="button" class="btn btn-success m-2">Tambah Penduduk</a>
            </div>
            <div class="card-body m-2">
                <h3>List Of Penduduk</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">NIK</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Alamat</th>
                            <th scope="col">No KK</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                <div class="d-flex gap-2">
                                    <form action="/editPenduduk" method="get">
                                        <button type="submit" class="btn btn-warning">Edit</button>
                                    </form>
                                    <form action="" method="post"
                                        onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?');">
                                        <button type="submit" class="btn btn-danger">Hapus</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--  Content End -->
</body>

</html>